{% extends "userhome.html" %}
{% load static %}
{% block content %}
<style>
    #search{
        background-color: #98d0cb;;
    }
    #body{
        background-color: azure;
        margin-top: -40px;
    }
    #box{
        margin-top: 55px;
        margin-left: 35px;
    }
    #list{
        margin-left: 10px;
    }
    .col{
        margin-left: 520px;
    font-size: 24px;
    margin-top: 20px;
    }
    #table{
        margin-top: -40px;
    }
</style>
<div class="col"><b>Admission updates</b></div>
<main class="content">
<section id="main-content" style="min-height: 93vh">
    <section class="wrapper" id="body">
            <div class="row mt" id="box">
                <div class="col-lg-10" id="table">
                <div class="content-panel" style="padding: 10px 10px;">
                    <section id="unseen"> 
                      <table class="table table-bordered table-striped table-condensed" style="width:205%;">
                        <thead>
                        <tr>
                        <th>Sl:No</th>
                        <th>Name</th>
                        <th>College</th>
                        <th>Course</th>
                        <th>Application date</th>
                        <th>Response</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for d in datan %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{d.name}}</td>
                            <td>{{d.college.name}}</td>
                            <td>{{d.course.name}}</td>
                            <td>{{d.date}}</td>
                            <td>{{d.status}}</td>
                        </tr>
                        {% endfor %}								
                      </tbody>
                    </table>
                    </section>
            </div><!-- /content-panel -->
         </div><!-- /col-lg-4 -->	
        <div style="height:480px;">
          </div>				   
        </div><!-- /row -->
      </section>
  </section>
  </main>
  {% endblock %}