{% extends "adminhome.html" %}
{% load static %}
{% block content %}
<style>
  #search {
    background-color: #98d0cb;
    ;
  }
</style>
<section id="main-content" style="min-height: 93vh">
  <section class="wrapper">
    <h3>College List</h3>
    <div class="row mt">
      <div class="col-lg-10">
        <div class="content-panel" style="padding: 10px 10px;">

          <section id="unseen">
            <form name="f1" method="post" action="">
              {% csrf_token %}
              <table class="table table-bordered table-striped table-condensed" style="width: 500px">
                <tr>
                  <td>SEARCH COLLEGE</td>
                  <td>
                    <input type="text" name="ser_user" value="{{d.name}}" placeholder="Search college's name">
                  </td>
                  <td><input type="submit" name="sub" id="search" value="search" /></td>
                </tr>
              </table>
            </form>







            <table class="table table-bordered table-striped table-condensed" style="width:100%;" style="width:100%;">
              <thead>
                <tr>
                  <th>Sl:No</th>
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Phone No</th>
                  <th>Founded year</th>
                  <th>Email Id</th>
                  <th>Location</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for d in datac %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td><img src="../media/{{d.photo}}" alt="" height="50" width="70" /></td>
                  <td>{{d.name}}</td>
                  <td>{{d.address}}</td>
                  <td>{{d.phoneno}}</td>
                  <td>{{d.year}}</td>
                  <td>{{d.email}}</td>
                  <td>{{d.location}}</td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-info btn-flat">Action</button>
                      <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a data-toggle="modal" data-target="#edit-{{d.collegeid}}" href="#"><i
                              class="fa fa-edit">&nbsp;&nbsp;&nbsp;Edit</i></a></li>
                              <li><a data-toggle="modal" data-target="#delete-{{d.collegeid}}" href="#"><i
                                class="fa fa-trash-o">&nbsp;&nbsp;&nbsp;delete</i></a></li>
                      </ul>
                    </div>
                  <div class="modal fade" id="edit-{{d.collegeid}}" role="dialog">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                              class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                          <h4 class="modal-title custom_align" id="Heading">Edit College</h4>
                        </div>
                        <div class="modal-body">
                          <form class="form-horizontal" method="post" name="myForm" onsubmit=""
                            action="{% url 'editcollege' %}">
                            {% csrf_token %}
                            <input type="hidden" class="form-control" value="{{d.collegeid}}" name="cid">
                            <div class="box-content">
                              <div class="col-md-10 col-md-offset-2">
                                <div class="form-group">
                                  <label class="col-sm-2 control-label no-padding-right" for="form-field-1">Name</label>
                                  <div class="col-sm-9">
                                    <input type="text" name="name" value="{{d.name}}" class="col-xs-10 col-sm-5" />
                                  </div>
                                </div>
                                <br>
                              </div>
                              <br><br>
                              <div class="col-md-10 col-md-offset-2">
                                <div class="form-group">
                                  <label class="col-sm-2 control-label no-padding-right"
                                    for="form-field-1">Address</label>
                                  <div class="col-sm-9">
                                    <input type="text" name="address" value="{{d.address}}"
                                      class="col-xs-10 col-sm-5" />
                                  </div>
                                </div>
                                <br>
                              </div>
                              <div class="col-md-10 col-md-offset-2">
                                <div class="form-group">
                                  <label class="col-sm-2 control-label no-padding-right"
                                    for="form-field-1">E-mail</label>
                                  <div class="col-sm-9">
                                    <input type="text" name="email" value="{{d.email}}" class="col-xs-10 col-sm-5" />
                                  </div>
                                </div>
                                <br>
                              </div>
                              <br><br><br>
                              <div class="col-md-10 col-md-offset-2">
                                <div class="form-group">
                                  <label class="col-sm-2 control-label no-padding-right" for="form-field-1">Phone
                                    no</label>
                                  <div class="col-sm-9">
                                    <input type="text" name="phoneno" value="{{d.phoneno}}"
                                      class="col-xs-10 col-sm-5" />
                                  </div>
                                </div>
                                <br>
                              </div>
                              <br><br><br>
                              <div class="col-md-10 col-md-offset-2">
                                <div class="form-group">
                                  <label class="col-sm-2 control-label no-padding-right"
                                    for="form-field-1">Location</label>
                                  <div class="col-sm-9">
                                    <input type="text" name="location" value="{{d.location}}"
                                      class="col-xs-10 col-sm-5" />
                                  </div>
                                </div>
                                <br>
                              </div>
                              <br><br><br>
                              <button name="edit" type="submit" class="btn btn-success"><span class="glyphicon 
                      glyphicon-ok-sign"></span>Submit</button>
                              <button type="reset" class="btn btn-default pull-right" data-dismiss="modal"><span
                                  class="glyphicon glyphicon-remove"></span>No</button>
                            </div>
                        </div>
                      </div>

                      </form>
                      <div class="modal-footer ">

                      </div>
                    </div>
                    </div>
                  </div>
                  </div>
                    <div class="modal fade" id="delete-{{d.collegeid}}" role="dialog">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                                class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            <h4 class="modal-title custom_align" id="Heading">Delete College</h4>
                          </div>
                          <div class="modal-body">
                            <br>
                            <h3 class="modal-title custom_align" id="Heading" style="margin-left:200px;color:#e85c68">Are
                              You Want Delete This College?</h3>
                            <br>
                            <form class="form-horizontal" method="post" name="myForm" onsubmit=""
                              action="{% url 'deletecollege' %}">
                              {% csrf_token %}
                              <input type="hidden" class="form-control" value="{{d.collegeid}}" name="cid">
                              <div class="box-content">
  
                                <button name="delete" type="submit" class="btn btn-success"><span class="glyphicon 
    glyphicon-ok-sign"></span>Submit</button>
                                <button type="reset" class="btn btn-default pull-right" data-dismiss="modal"><span
                                    class="glyphicon glyphicon-remove"></span>No</button>
  
                              </div>
                          </div>
  
                          </form>
                          <div class="modal-footer ">
  
                          </div>
                        </div>
                        <!-- /.modal-content -->
                      </div>
                    </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </section>
        </div><!-- /content-panel -->
      </div><!-- /col-lg-4 -->
      <div style="height:480px;">
      </div>
    </div><!-- /row -->
  </section>
</section>
{% endblock %}